<div class="section">
  <div class="container">
    <div class='columns'>
      <div class='column'>
        <table>
          <thead>
            <tr>
              <th>Teknolohiya</th>
              <th>Mga praktisan</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>React JS</td>
              <td>A, B, C, D, E, F, G</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
